/* Denna fil får du editera för att lösa uppgiften. Du får INTE ändra i html-filen. */

/* Börjar med att lägga upp alla selektorer som jag kommer att arbeta med (det är selektorer som de kallas för eller?). */

/* Colors
   #51473D     topbar/text
   #EAE7D2     content
   #797066     menu (eller opacity)
*/   

#container {
    width: 600px;
    margin: 0 auto;
    border: solid black;
    
}
/* Behövde kolla upp hur man gjorde det kursivt/italic (har koll på det nu) */
#topbar {
    background-color: #51473D;
    color: white;
    text-align: right;
    font-style: italic;
    font-size: .8em;
}

#menu {
    border: solid 1px black;
}

.active {
    
}

#content {
    border: solid 1px black;
}

#maincontent {
    border: solid 1px black;
}

#subcontent {
    border: solid 1px black;
}

#bottomcontent {
    border: solid 1px black;
}